/* src/components/ErrorMessage/ErrorMessage.module.css */

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center vertically */
    font-family: Arial, sans-serif;
}

.errorBox {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.errorTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.errorMessage {
    font-size: 1rem;
}
