
main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

main div h1, p {
    align-self: flex-start;
}



.aboutContainer {
    padding: 120px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("/space.webp");
    background-size: cover;
}

.authorImage {
    width: 400px;
    height: auto;
    border-radius: 50%;
    opacity: 50%;
}

@media  screen and (max-width: 600px) {
    .authorImage {
        width: 200px;
        margin-bottom: 40px;
    }
    
}