
main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

main div h1, p {
    align-self: flex-start;
}



.aboutContainer {
    padding: 120px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.authorImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 100%;
    border: 2px solid white;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .authorImage {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
    }

    .aboutContainer {
        width: 100%;
        padding: 5px;

        /* Neu: Spalten-Layout und Zentrierung */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Text auch zentrieren */
    }

    /* Optional: die inneren divs ebenfalls zentrieren */
    .aboutContainer > div {
        display: flex;
        justify-content: center;
    }

    main div {
        flex-basis: auto;
    }

    main div h1 {
        align-self: center;
    }

    main div p {
        align-self: center;
    }
}
